.parent-wrap {
  margin: 1rem;
  padding: 0.8rem;
  border: 2px solid #8e8eee;
  background: linear-gradient(#72e3be, #5050e0);
  max-width: 47rem;
  height: 60vh;
}

.parent-name {
  color: #ff2400;
  display: inline;
}
